.app *{
  margin: 10px;
}

.orders-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order{
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
  width: 300px;
}

.title{
  text-align: center;
}